@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap");
/* https://color.adobe.com/es/create/color-wheel */
* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.topbar {
  width: 100%;
  height: 50px;
  background-color: #000000;
  position: sticky;
  top: 0;
}
.topbar .wrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar .wrapper .wrapper_left .logo {
  font-weight: bold;
  font-size: 1.7rem;
  color: #FAAE2F;
  cursor: pointer;
}
.topbar .wrapper .wrapper_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar .wrapper .wrapper_right .icons-container {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #ffffff;
}
.topbar .wrapper .wrapper_right .icons-container .topicon_bag {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -2px;
  right: 0px;
  background-color: red;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}
.topbar .wrapper .wrapper_right .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar {
  border-right: 1px solid #c9c4c4;
  box-shadow: 1px 0 8px #c9c4c4;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  width: 15%;
  display: flex;
  flex-direction: column;
}
.sidebar .sidebarWrapper {
  padding: 0px;
}
.sidebar .sidebarWrapper .sidebarMenu {
  margin-bottom: 10px;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarTitle {
  font-size: 1rem;
  color: #c9c4c4;
  padding: 10px;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList {
  list-style: none;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem {
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem a {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem a:hover {
  color: #ffffff;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem .sidebarIcon {
  margin: 0 8px;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .active {
  background-color: #4AA4FF;
  border-radius: 3px;
}

.home {
  width: 100%;
}
.home .homeWidgets {
  display: flex;
  margin: 1.5rem;
}

.register_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.register_container h1 {
  margin-bottom: 2rem;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 50px;
  border: 1px solid #c9c4c4;
  box-shadow: rgba(0, 0, 0, 0.16) 5px 5px 4px;
}
@media screen and (max-width: 360px) {
  .register {
    width: 50%;
  }
}
.register h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.register .register__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #1f1f1f;
  width: 100%;
}
.register input {
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}
.register button[type=submit] {
  display: block;
  background: #105FAD;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
  padding: 0.75rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  transition: 0.3s ease all;
}
.register .error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 0.75rem;
}

.link_signUp {
  font-size: 1rem;
}
@media screen and (max-width: 360px) {
  .link_signUp {
    font-size: 0.8rem;
  }
}

.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login_container h1 {
  margin-bottom: 2rem;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  border: 1px solid #c9c4c4;
  box-shadow: rgba(0, 0, 0, 0.16) 5px 5px 4px;
}
@media screen and (max-width: 360px) {
  .login {
    width: 60%;
  }
}
.login h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.login .credencialesIncorrectas {
  margin: 1rem 0;
  padding: 10px;
  background-color: #FAAE2F;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
}
.login .button_login {
  width: 100%;
  margin-bottom: 1rem;
}
.login .button_login .button_login-color {
  background-color: #105FAD;
}
.login .link_signIn {
  font-size: 1rem;
}
@media screen and (max-width: 360px) {
  .login .link_signIn {
    font-size: 0.8rem;
  }
}

.customers {
  width: 100%;
}

.editcustomers {
  background-color: choolate;
  width: 100%;
  display: flex;
  align-items: center;
}

.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.featured .featuredItem {
  flex: 1;
  margin: 1.5rem;
  padding: 1.75rem;
  border: 1px solid #c9c4c4;
  -webkit-box-shadow: 5px 5px 6px 0px #8f8b8f;
  -moz-box-shadow: 5px 5px 6px 0px #8f8b8f;
  box-shadow: 5px 5px 6px 0px #8f8b8f;
}
.featured .featuredItem .featuredTitle {
  font-size: 1.25rem;
}
.featured .featuredItem .feturedContainerMoney {
  display: flex;
  margin: 10px 0;
  align-items: center;
}
.featured .featuredItem .feturedContainerMoney .featuredMoney {
  font-size: 1.75rem;
  font-weight: 600;
}
.featured .featuredItem .feturedContainerMoney .featuredMoneyRated {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
}
.featured .featuredItem .feturedContainerMoney .featuredMoneyRated .featuredIcon {
  font-size: 1rem;
  color: green;
  margin-left: 0.4rem;
}
.featured .featuredItem .feturedContainerMoney .featuredMoneyRated .negative {
  color: red;
}
.featured .featuredItem .featuredSub {
  font-size: 1rem;
  color: #c9c4c4;
  font-weight: 600;
}

.chart {
  margin: 1.5rem;
  padding: 1.75rem;
  border: 1px solid #c9c4c4;
  -webkit-box-shadow: 5px 5px 6px 0px #8f8b8f;
  -moz-box-shadow: 5px 5px 6px 0px #8f8b8f;
  box-shadow: 5px 5px 6px 0px #8f8b8f;
}
.chart .chartTitle {
  margin-bottom: 1.5rem;
}

.widgetSmall {
  width: 25%;
  padding: 1.75rem;
  margin-right: 1.75rem;
  border: 1px solid #c9c4c4;
  -webkit-box-shadow: 5px 5px 6px 0px #8f8b8f;
  -moz-box-shadow: 5px 5px 6px 0px #8f8b8f;
  box-shadow: 5px 5px 6px 0px #8f8b8f;
}
.widgetSmall .widgetSamllTitle {
  font-size: 2rem;
  font-weight: 600;
}
.widgetSmall .widgetSmallList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widgetSmall .widgetSmallList .widgetSmallListItem {
  display: flex;
  align-items: center;
  margin: 1.75rem 0;
  justify-content: space-between;
}
.widgetSmall .widgetSmallList .widgetSmallListItem .widgetSmallImg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5%;
}
.widgetSmall .widgetSmallList .widgetSmallListItem .widgetSmallUser {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  text-align: left;
  width: 50%;
}
.widgetSmall .widgetSmallList .widgetSmallListItem .widgetSmallUser .widgetSmallUserName {
  font-weight: 600;
}
.widgetSmall .widgetSmallList .widgetSmallListItem .widgetSmallUser .widgetSmallUserTitle {
  font-weight: 300;
}
.widgetSmall .widgetSmallList .widgetSmallListItem .widgetSmallButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.widgetSmall .widgetSmallList .widgetSmallListItem .widgetSmallButton .widgetIcon {
  margin-right: 0.5rem;
}

.widgetLarge {
  width: 75%;
  padding: 1.75rem;
  border: 1px solid #c9c4c4;
  -webkit-box-shadow: 5px 5px 6px 0px #8f8b8f;
  -moz-box-shadow: 5px 5px 6px 0px #8f8b8f;
  box-shadow: 5px 5px 6px 0px #8f8b8f;
}
.widgetLarge .widgetLargeTitle {
  font-size: 2rem;
  font-weight: 600;
}
.widgetLarge .widgetLargeTable {
  width: 100%;
  border-spacing: 20px;
}
.widgetLarge .widgetLargeTable .widgetLargetTr .widgetLargeTh {
  text-align: left;
}
.widgetLarge .widgetLargeTable .widgetLargetTr .widgetLargeUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.widgetLarge .widgetLargeTable .widgetLargetTr .widgetLargeUser .widgetLargeImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.widgetLarge .widgetLargeTable .widgetLargetTr .widgetLargeDate, .widgetLarge .widgetLargeTable .widgetLargetTr .widgetLargeAmount {
  font-weight: 300;
}

.widgetLargeButton {
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
}
.widgetLargeButton.Aproved {
  background-color: #e5faf2;
  color: green;
}
.widgetLargeButton.Declined {
  background-color: #fff0f1;
  color: red;
}
.widgetLargeButton.Pending {
  background-color: #ebf1fe;
  color: blue;
}

.userList {
  padding: 1.75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userListUser {
  display: flex;
  align-items: center;
}
.userListUser .userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: #ffffff;
  cursor: pointer;
  margin-right: 1.75rem;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
