@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap");
/* https://color.adobe.com/es/create/color-wheel */
* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.topbar {
  width: 100%;
  height: 50px;
  background-color: #105FAD;
  position: sticky;
  top: 0;
}
.topbar .wrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar .wrapper .wrapper_left .logo {
  font-weight: bold;
  font-size: 1.7rem;
  color: #FAAE2F;
  cursor: pointer;
}
.topbar .wrapper .wrapper_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar .wrapper .wrapper_right .icons-container {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #ffffff;
}
.topbar .wrapper .wrapper_right .icons-container .topicon_bag {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -2px;
  right: 0px;
  background-color: red;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}
.topbar .wrapper .wrapper_right .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar {
  border-right: 1px solid #c9c4c4;
  box-shadow: 1px 0 8px #c9c4c4;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  width: 18%;
  display: flex;
  flex-direction: column;
}
.sidebar .sidebarWrapper {
  padding: 10px;
}
.sidebar .sidebarWrapper .sidebarMenu {
  margin-bottom: 10px;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarTitle {
  font-size: 1rem;
  color: #c9c4c4;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList {
  list-style: none;
  padding: 7px;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem {
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem .sidebarIcon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem:hover {
  background-color: #4AA4FF;
  color: #ffffff;
  border-radius: 3px;
  font-weight: bold;
}
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .active {
  background-color: #4AA4FF;
  border-radius: 3px;
}

.home {
  background-color: brown;
  width: 100%;
}

.register_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.register_container h1 {
  margin-bottom: 2rem;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 50px;
  border: 1px solid #c9c4c4;
  box-shadow: rgba(0, 0, 0, 0.16) 5px 5px 4px;
}
@media screen and (max-width: 360px) {
  .register {
    width: 50%;
  }
}
.register h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.register .register__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #1f1f1f;
  width: 100%;
}
.register input {
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
}
.register button[type=submit] {
  display: block;
  background: #105FAD;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
  padding: 0.75rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  transition: 0.3s ease all;
}
.register .error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 0.75rem;
}

.link_signUp {
  font-size: 1rem;
}
@media screen and (max-width: 360px) {
  .link_signUp {
    font-size: 0.8rem;
  }
}

.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login_container h1 {
  margin-bottom: 2rem;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  border: 1px solid #c9c4c4;
  box-shadow: rgba(0, 0, 0, 0.16) 5px 5px 4px;
}
@media screen and (max-width: 360px) {
  .login {
    width: 60%;
  }
}
.login h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.login .credencialesIncorrectas {
  margin: 1rem 0;
  padding: 10px;
  background-color: #FAAE2F;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
}
.login .button_login {
  width: 100%;
  margin-bottom: 1rem;
}
.login .button_login .button_login-color {
  background-color: #105FAD;
}
.login .link_signIn {
  font-size: 1rem;
}
@media screen and (max-width: 360px) {
  .login .link_signIn {
    font-size: 0.8rem;
  }
}

.customers {
  padding: 1rem;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
