.topbar {
  width: 100%;
  height: 50px;
  background-color: $primary;
  position: sticky;
  top: 0;
  .wrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wrapper_left {
      .logo {
        font-weight: bold;
        font-size: 1.7rem;
        color: $warning;
        cursor: pointer;
      }
    }
    .wrapper_right {
      display: flex;
      justify-content: center;
      align-items: center;
      .icons-container {
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;
        margin-right: 10px;
        color: $white;
        .topicon_bag {
          width: 15px;
          height: 15px;
          position: absolute;
          top: -2px;
          right: 0px;
          background-color: $red;
          color: $white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: .7rem;
        }
      }
      .avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

}