/* https://color.adobe.com/es/create/color-wheel */
$primary: #105FAD;
$secondary: #4AA4FF;
$warning: #FAAE2F;
$hoverSidebar: #AD6D00;
$lightGray: rgb(201, 196, 196);

$white: #ffffff;
$black: #000000;
$red: red;
$blue1: #518cef;