.widgetLarge {
  width: 75%;
  padding: 1.75rem;
  border: 1px solid $lightGray;
  -webkit-box-shadow: 5px 5px 6px 0px rgba(143, 139, 143, 1);
  -moz-box-shadow: 5px 5px 6px 0px rgba(143, 139, 143, 1);
  box-shadow: 5px 5px 6px 0px rgba(143, 139, 143, 1);
}
